table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

.removeItem{
	color: red;
}

.cartStatus{
	color: blue;
}

.green{
	color: green;
}

.text-center{
	text-align: center;
}

.floatRight{
	float: right;
}