* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.58;
  color: #333;
  background-color: #f4f4f4;
  height: 100%;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.hidden {
  display: none;
}

.form-control {
  width: 100%;
  min-height: 38px;
  font-size: 15px;
  border: 1px solid #c8c8c8;
}

.form-group {
  margin-bottom: 15px;
}

input {
  padding-left: 10px;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.7em;
}

a {
  color: #128ff2;
}

button {
  box-shadow: none;
  border: 1px solid transparent;
  font-size: 14px;
  outline: none;
  line-height: 100%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.6rem 1rem;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  min-height: 38px;
}

button.default {
  background-color: #e8e8e8;
  color: #333;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
  background-color: #128ff2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
}

button.accent {
  background-color: #ff4743;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
}

.connecting {
  padding-top: 5px;
  text-align: center;
  color: #777;
}

.customer-list {
  width: 20%; 
  height: calc(100% - 4px);
  padding: 0;
  margin: 2px;
  list-style: none;
  border: 1px solid #ddd;
  overflow-x: hidden;
  overflow-y: auto;
}
.customer-list li {
  line-height: 1.5rem;
  padding: 0px;
  margin: 0;
  border-bottom: 1px solid #f4f4f4;
}
.customer-list li p {
  margin: 0;
  padding: 5px;
}
.message-wrapper {
  width: 80%;
  height: 100%;
}
.messageArea {
  width: calc(100% - 4px);
  height: calc(100% - 44px);
  list-style-type: none;
  background-color: #FFF;
  padding: 0;
  border: 1px solid #ddd;
  margin: 2px;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}
.messageArea li {
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #f4f4f4;
}
.messageArea li p {
  margin: 0;
}

.messageArea .event-message {
  width: 100%;
  text-align: center;
  clear: both;
}

.messageArea .event-message p {
  color: #777;
  font-size: 14px;
  word-wrap: break-word;
}

.messageArea .chat-message {
  padding-left: 68px;
  position: relative;
}

.messageArea .chat-message i {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-style: normal;
  text-transform: uppercase;
}

.messageArea .chat-message span {
  color: #333;
  font-weight: 600;
}

.messageArea .chat-message p {
  color: #43464b;
} 