body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  background-image: url(../images/logo.png);
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.banner {
  background-image: url(../images/banner.png);
  background-size: cover;
  height: 300px;
}

.list-product {
  list-style-type: none;
}
.list-product .product {
  display: inline-block;
  min-height: 252px;
  margin-right: 10px;
  margin-bottom: 15px;
  min-width: calc(50% - 13px);
}
.list-product .product .card {
  width: 18rem;
  min-width: 100%;
  min-height: 252px;
}

footer {
  border-top: 1px solid #ddd;
  overflow: hidden;
  padding: 15px;
  background-color: #ddd;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.chatWithUs {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: aqua;
  margin-right: 3px;
  margin-bottom: 3px;
}
.chatWithUs .header img.comment {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.chatWithUs .header .title {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 30px;
}
.chatWithUs .header .title img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-left: auto;
  cursor: pointer;
}

.chatWithUs .content {
  height: calc(100% - 30px);
}
.chatWithUs .content iframe {
  height: 97%;
  width: calc(100% - 10px);
  margin: 4px;
  border-width: 1px;
  background: white;
}